 /* thank you W3 Schools */
@keyframes timePassing {
    0%, 100% { background-color: cyan;}
    25% { background-color: orange;}
    50% {background-color: red;}
    75% { background-color: blue;}
}
html{
    font-family: 'Courier New', Courier, monospace;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%);
    height: auto;
    background-size: cover;
    background-attachment: fixed;
    animation: timePassing 4s infinite;
}

h1{
    color: white;
    text-align: center;
    margin-top: 40vh;
    font-size: 7.5vh;
}

section.visual-time{
    margin-top: 100px;    
}

div.time-indic{
    background-color: white;
    display: block;
    text-align: center;
    width: 20px;
    min-height: 100px;
    clear: both;
    margin: 0 auto;
    margin-bottom: 20px;
}
